

.content{
	place-content: center;
	display: grid;
	grid-template-columns: 0.75fr 1fr 1fr 0.75fr;
	grid-template-rows: 0.75fr 1fr 1fr 0.75fr;
	grid-template-areas:
	". title title ."
	". image form ."
	". image form ."
	". . . .";
	height: 100vh;
}
.title{
	display: grid;
	grid-area: title;
	place-content: center;
}
.image{
	/* place-content: center; con esto se mantendría en el centro si guardaramos la relación de aspecto*/
	display: grid;
	grid-area: image;
}
.image img{
	width: 100%;
	height: 100%;
	/* aspect-ratio: 4/3;
	object-fit: cover;  para guardar la relación de aspecto*/
}
form {
	display: grid;
	grid-area: form;
	background-color: lightgreen; /*falta estructurar el texto*/
}
